$title-border: #6babff;
$border-input: #474747;
$placeholder-color:#555454;
$input-color: #bdbdbd;
$button-border-color: #323232;  
$button-text-color: #bababa;
$grid-team-color: #282828;
$input-error-color: #ff2121;
$neon-border-color: #74e3ff;
$readyNick-color: #38ea35;